.player {
  width: 800px;
  height: 600px;
  box-shadow: 0 0 0 6px rgba(60,60,60,0.4);
  display: flex;
  flex-direction: column;  
}

.video-container {
  flex-grow: 1;  
}

.button_panel {
  display: flex;
  align-items: center;
  background-color: black;
  line-height: 42px;
}

.player-button {
  width: 38px;
  font-size: 20px;
  border-style: none;
  cursor: pointer;
  color: white;
  background-color: transparent;
  padding: 0 6px 2px;
}

.play-button {
  width: 36px;
}

.progress {
  flex-grow: 1;
  background-color: grey;
}

.progress-slider {
  background-color: red;
  height: 100%;
}

.time-indicator {
  width: 50px;
  border-style: none;
  color: white;
  background-color: transparent;
  font-size: 16px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding: 0 1px 1px 0;
  line-height: 41px;
}

.progress-panel {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

body {
  margin: 6px;
}
